

h1{
    border: 2px solid;

}

p{

    font-family: 'Courier New', Courier, monospace;

}

table,td{
    border: 1px solid;
    vertical-align: bottom;
    padding: 8px;
    border-collapse: collapse;

}
thead{
    text-align: center;
  
}
tr{
    height: 40px;
    
}
table{
    width: 100%;
}
/* td:hover{
    background-color: aqua;
} */

tr:nth-child(even){
    background-color: aqua;
}
