h5{
    color: aqua;
}

#welcome{
    color: red;
}

p{
    font-size: large;
}

.tx{
    color: yellowgreen;
}
p,h5,welcome{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}